                * {
                    margin: 0;
                    /* padding: 0; */
                }
                .navbar {
                    width: 100%;
                    display: flex;
                    font-size: 0.8cm;
                    color: white;
                    margin: 0;
                    background-color: rgba(53, 20, 97, 0.767);
                    /* position: fixed; */
                    justify-content: flex-end;
                }
                
                .bar {
                    display: flex;
                    list-style: none;
                }
                
                .list:hover {
                    color: darkgreen;
                    background-color: bisque;
                }
                .robust {
                    font-size: 50px;
                    margin-right: auto;
                    margin-left: 40px;
                    margin-top: 10px;
                }
                
                .list {
                    padding: 20px;
                }
                
                .link {
                    color: white;
                    text-decoration: none;
                }
                
                .dropbtn {
                    color: black;
                    background: white;
                    border: white;
                    width: 4em;
                    height: 2em;
                    font-size: 30px;
                    border-radius: 20px;
                    cursor: grabbing;
                    margin-right: 10px;
                    
                    
                }
                .dropdown {
                    position: relative;
                    display: none;
                  }
                  
                  /* Dropdown Content (Hidden by Default) */
                  .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    right: 0;
                  }
                  
                  /* Links inside the dropdown */
                  .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                  }
                  .dropdown-content a:hover {background-color: #375a8f8a}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #375a8f;
}

                @media only screen and (max-width:800px) {
                    .bar {
                        display: none;
                        padding: 0;
                    }
                    .dropdown {
                        position: relative;
                        display: inline-block;
                      }
                      .work2{
                          font: size 1em;
                      }
                      .btn2{
                          display: flex;
                          flex-direction: column;
                      }
                }
                
                .work{
                    color: white;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    gap: 30px;
                    background-color: rgba(50, 95, 153, 0.7);
                    width: 100%;
                    background-position: center;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 100px 0;
                }
                .bground{
                    background-image:url(https://cdn-res.keymedia.com/cms/images/us/037/0223_637242926815337822.jpg);
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                }
                .work1{
                    font-size: 4em;
                }
                .work2{
                    width: 23em;
                    text-align: center;
                    font-size: 1.5em;
                    
                }
                .btn1{
                    color: white;
                    background-color: green;
                    font-size: 2rem;
                    border-radius: 10px;
                    border: white;
                    padding: 20px;
                    margin: 10px;
                }
                .btn1:hover{
                    background-color: rgba(66, 197, 66, 0.671);
                }

                
                .h1 {
                    width: 280px;
                    padding: 30px;
                }
                
                .p1 {
                    width: 450px;
                    font-size: 22px;
                }
                
                .flex {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    margin: 50px;
                    /* gap: 30px; */
                }
                
                .flex1 {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 30px;
                }
                
                img {
                    margin: 10px;
                    width: 350px;
                    height: auto;
                }
                
                p {
                    padding: 20px 0px;
                    font-size: 20px;
                }
                
                .landing {
                    width: 300px;
                }
                
                .section1 {
                    background-color: rgba(207, 199, 199, 0.24);
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 120px;
                    padding-top: 100px;
                }
                
                .sec1 {
                    display: flex;
                    flex-direction: column;
                }
                
                .multi {
                    width: 500px;
                }
                
                .section2 {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 50px;
                    padding: 40px;
                }
                
                .sec2 {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 50px;
                    padding-bottom: 70px;
                }
                
                .response {
                    width: 350px;
                }
                
                .h2 {
                    width: 170px;
                    font-size: 30px;
                    padding: 20px;
                    margin: 20px;
                }
        .footer{
            display: flex;
            flex-wrap: wrap;
            background-color: #b8aaaa50;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 70px 0;
        }        
    
        .data{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0 ;
        gap: 80px;
        font-size: 20px;
        
    }  
    .last{
        list-style-type: none;
        display: inline;
    } 
    .link2{
        color: black;
    }         